@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

/*d1d6e6*/
:root {
  --main-black: #353535;
  --main-deep-white: #fbfbfb;
  --main-width: 80%;
  --color-blue-gray: #d1d6e6;
  --color-basic-gray: #e2e2e2;
  --color-light-gray: #a7a7a7;
  --color-mid-gray: #9d9d9d;
  --color-deep-gray: #6d6d6d;
  --color-pure-white: #ffffff;
  --text-title-size: 1.6rem;
  --text-large-size: 1.3rem;
  --text-mid-size: 1.1rem;
  --text-small-size: 0.9rem;
  --text-thin-weight: 400;
  --text-mid-weight: 500;
  --text-bold-weight: 700;
  --text-line-height-small: 1.2;
  --text-line-height-mid: 1.4;
  --shadow-style-card-1: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
  --shadow-style-card-2: 0px 6px 10px rgba(115, 120, 225, 0.05);
}

/* layout */

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.5px;
  font-weight: var(--text-thin-weight);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;

  overflow-y: auto;
}
body.black {
  overflow-y: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 3em 0;
}
section.black {
  background-color: var(--main-black);
}
section.black h1 {
  color: var(--main-deep-white);
}
section.white {
  background-color: var(--main-deep-white);
}
section.white h1 {
  color: var(--main-black);
}
.content__container {
  width: var(--main-width);
  margin: 0 auto;
}

/* common style */
h1 {
  font-size: var(--text-title-size);
  font-weight: var(--text-mid-weight);
  text-align: center;
  padding: 4em 0 2em;
}
p {
  line-height: var(--text-line-height-small);
}
p.mid {
  font-size: var(--text-mid-size);
  font-weight: var(--text-mid-weight);
}
p.small {
  font-size: var(--text-small-size);
}

/* section.profile */
.profile {
  text-align: center;
}
.profile .content__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profile h1 {
  line-height: var(--text-line-height-mid);
  transition: 0.5s;
  opacity: 0.3;
}
.profile p {
  opacity: 0.3;
  transition: 0.5s;
}
.profile p.mid {
  color: var(--color-mid-gray);
}
.profile p.small {
  color: var(--color-mid-gray);
}
.profile .image__wrapper {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  overflow: hidden;
}
.profile .image__wrapper img {
  width: 170%;
  transform: translate(-20%, -5%);
}

/* section.history */
.history__container,
.goal__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.history .lines {
  margin-top: 6px;
}
.history .dot {
  width: 14px;
  height: 14px;
  background: var(--color-basic-gray);
  border-radius: 7px;
}

.history .line {
  height: 100px;
  width: 2.2px;
  background: var(--color-basic-gray);
  margin-left: 5.3px;
}
.line.plus {
  height: 120px;
}
.line.last {
  height: 35px;
}
.history .cards {
  margin-left: 12px;
  transform: translateY(-50px);
}
.history .card {
  width: 450px;
  height: 93px;
  padding-top: 25px;
  background: var(--color-pure-white);
  border-radius: 10px;
  box-shadow: var(--shadow-style-card-2);
  margin-bottom: 10px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}

.history .card.mid {
  height: 71px;
}

.history .card:nth-child(1),
.skills .card:nth-child(1),
.skills .card:nth-child(2) {
  transition-delay: 0.5s;
}
.history .card:nth-child(2),
.skills .card:nth-child(3),
.skills .card:nth-child(4) {
  transition-delay: 1s;
}
.history .card:nth-child(3),
.skills .card:nth-child(5),
.skills .card:nth-child(6) {
  transition-delay: 1.5s;
}
.history .card:nth-child(4),
.skills .card:nth-child(7),
.skills .card:nth-child(8) {
  transition-delay: 2s;
}
.history .card:nth-child(5) {
  transition-delay: 2.5s;
}
.history .card:nth-child(6) {
  transition-delay: 3s;
}
.history .card:nth-child(7) {
  transition-delay: 3.5s;
}
.history .card:nth-child(8) {
  transition-delay: 4s;
}

.history .card h2 {
  font-weight: var(--text-bold-weight);
  font-size: 14px;
  line-height: 19px;
  margin-left: 25px;
  margin-bottom: 5px;
  color: var(--main-black);
  /* 기존 텍스트 2b2862 */
}

.history .card p {
  font-size: var(--text-small-size);
  line-height: 22px;
  color: var(--color-deep-gray);
  margin-left: 25px;
}

/* section.skills */
.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.skills .card {
  box-sizing: border-box;
  font-size: var(--text-small-size);
  width: 43%;
  margin: 15px 20px;
  padding: 20px 25px;
  background: var(--color-pure-white);
  border-radius: 7px;
  box-shadow: var(--shadow-style-card-2);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1.5s;
  transform: translateY(50px);
}

.skills .image__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  padding-right: 1.5em;
}
.skills img {
  width: 50px;
  height: 50px;
}
.skills .card span {
  font-weight: var(--text-mid-weight);
  margin-top: 8px;
  color: var(--main-black);
}
.skills .card p {
  flex: 1;
  color: var(--color-deep-gray);
  line-height: var(--text-line-height-mid);
}

/* section.projects */
.projects .content__container {
  position: relative;
}
.projects__container {
  width: 80%;
  min-width: 600px;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}
.projects h2 {
  font-size: var(--text-title-size);
  font-weight: var(--text-bold-weight);
  display: inline-block;
  margin-bottom: 0.5em;
}
.projects h3 {
  font-size: var(--text-large-size);
  font-weight: var(--text-mid-weight);
  margin-bottom: 1em;
}
.projects p {
  font-size: var(--text-small-size);
  color: var(--color-light-gray);
}
.projects .date {
  font-size: var(--text-small-size);
  color: var(--color-light-gray);
  margin-left: 2em;
}
.article__tab {
  position: absolute;
  left: 10px;
  top: 150px;
}
.tab__number {
  display: block;
  color: var(--color-light-gray);
  margin: 2em 0;
  cursor: pointer;
  padding: 3px 0.3em;
}
.tab__number.active {
  color: var(--main-black);
  font-weight: var(--text-mid-weight);
  position: relative;
  transition: 0.5s;
}
.tab__number.active:after {
  position: absolute;
  left: 1px;
  bottom: -5px;
  content: "";
  width: 84%;
  height: 1px;
  background-color: var(--main-black);
}
.projects {
  min-height: 200vh;
}
.projects__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 10px;
  background: var(--color-pure-white);
  box-shadow: var(--shadow-style-card-2);
  padding: 2em;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.projects__item.active {
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}

.article__header {
}

.article__header .tag__box {
  padding: 2em 0;
}
.article__header .tag {
  padding: 0.7em 1.4em;
  margin: 3px 5px;
  display: inline-block;

  color: var(--main-black);
  font-size: var(--text-small-size);
  line-height: var(--text-small-size);
  border: 1px solid var(--color-basic-gray);
  border-radius: 20px;
}
.article__description {
  margin: 2.5em 0;
}
.article__description p {
  line-height: var(--text-large-size);
}
.projects .button__wrapper {
  text-align: center;
}
.projects .more__button {
  color: var(--main-deep-white);
  background: var(--main-black);
  font-weight: var(--text-mid-weight);
  font-size: var(--text-small-size);
  display: inline-block;
  border-radius: 30px;
  padding: 1.2em 4em;
}
/* section.goal */
.goal__container {
}
.goal .lines {
  margin-top: 6px;
}
.goal .dot {
  width: 14px;
  height: 14px;
  background: var(--main-deep-white);
  border-radius: 7px;
}
.goal .line {
  height: 100px;
  width: 2.2px;
  background: var(--main-deep-white);
  margin-left: 5.3px;
}
.goal .line.last {
  height: 60px;
}
.goal .cards {
  margin-left: 12px;
  transform: translateY(-50px);
}
.goal .card {
  width: 430px;
  height: 93px;
  padding-top: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transition: 1.5s;
  transform: translateY(50px);
}

.goal .card.mid {
  height: 71px;
}
.goal .card:nth-child(1) {
  width: 410px;
  transition-delay: 0.5s;
}
.goal .card:nth-child(2) {
  transition-delay: 1s;
}
.goal .card:nth-child(3) {
  transition-delay: 1.5s;
}
.goal .card h2 {
  font-weight: var(--text-bold-weight);
  font-size: 14px;
  line-height: 19px;
  margin-left: 25px;
  margin-bottom: 5px;
  color: var(--main-deep-white);
  /* 기존 텍스트 2b2862 */
}

.goal .card p {
  font-size: var(--text-small-size);
  line-height: 22px;
  color: var(--color-light-gray);
  margin-left: 25px;
}

/* section.values */
.values__container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values h2 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: var(--text-mid-size);
  color: var(--main-black);
  background-color: var(--main-deep-white);
  margin-bottom: 2em;
}
.values {
  font-size: var(--text-small-size);
}

.values p {
  color: var(--color-light-gray);
  line-height: var(--text-line-height-mid);
}
.values__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.values__item .stroke {
  width: 100%;
  height: 100px;
}
.values__item .stroke path {
  stroke: var(--main-deep-white);
  stroke-width: 1px;
  stroke-dasharray: 5px;
}

/* aside.menu */
.black__backgrond {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}
.black__backgrond.on {
  opacity: 1;
  visibility: visible;
}
.menu {
  position: fixed;
  right: -400px;
  transform: translateX(0px);
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: var(--main-deep-white);
  transition: 0.7s;
}
.menu.on {
  transform: translateX(-400px);
  transition: 0.7s;
}
.toggle__bar {
  display: inline-block;
  position: fixed;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
.toggle__bar span {
  position: relative;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-mid-gray);
  margin: 5px 0;
  transition: 0.5s;
}
.toggle__bar span:nth-child(1) {
  transform-origin: top left;
}
.toggle__bar span:nth-child(2) {
  top: 10px;
  opacity: 1;
}
.toggle__bar span:nth-child(3) {
  top: 20px;
  transform-origin: bottom left;
}
.toggle__bar.close span:nth-child(1) {
  transform: rotate(45deg);
}
.toggle__bar.close span:nth-child(2) {
  opacity: 0;
}
.toggle__bar.close span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu__list {
}
.menu__list li {
  margin: 2em 0;
  padding: 1.5em 0;
  text-align: center;
}
.menu__list li a {
  color: var(--main-black);
  font-size: var(--text-large-size);
}
.menu p {
  color: var(--color-light-gray);
  position: absolute;
  right: 20px;
  bottom: 20px;
}
