:root {
  --r-text-small: 0.8rem;
  --r-text-mid: 0.9rem;
  --r-text-large: 1.1rem;
  --r-text-xLarge: 1.3rem;
}

@media (max-width: 600px) {
  .content__container {
    width: 93%;
  }
  h1 {
    padding: 2em 0 1em;
  }
  /* profile */
  .profile .image__wrapper img {
    width: 160%;
  }
  .profile h1 {
    font-size: var(--r-text-xLarge);
  }
  .profile p.mid {
    font-size: var(--r-text-mid);
  }
  /* history */
  .history .card {
    width: 300px;
    padding: 20px 10px 0 10px;
  }
  .history .card.mid:nth-child(3) {
    height: 90px;
  }
  .history .card h2 {
    margin-left: 10px;
  }
  .history .card p {
    font-size: var(--r-text-small);
    margin-left: 10px;
  }
  .history .line {
    width: 1.8px;
  }
  .history .line.plus {
    height: 120px;
  }
  .history .dot {
    width: 12px;
    height: 12px;
  }
  /* projects */
  .projects {
    min-height: 270vh;
  }
  .projects__container {
    margin-top: 120px;
    min-width: auto;
    width: 100%;
  }
  .projects__item {
    width: 77%;
    padding: 1.2em;
    left: 5%;
  }
  .projects h2 {
    display: block;
    margin-bottom: 0.8em;
  }
  .projects h3 {
    font-size: var(--r-text-large);
  }
  .projects p {
    font-size: var(--r-text-small);
  }

  .projects .date {
    margin-left: 0;
    margin-top: 10px;
  }

  .article__tab {
    left: 50%;
    transform: translateX(-50%);
  }
  .tab__number {
    display: inline-block;
    margin: 0.5em;
  }
  .article__header .tag__box {
    padding: 2em 0 0 0;
  }
  .article__header .tag {
    font-size: var(--r-text-small);
    margin: 5px;
  }

  /* skills */
  .skills .card {
    width: 100%;
    margin: 12px 10px;
  }
  .skills .card p {
    font-size: var(--r-text-small);
  }

  /* goal */
  .goal .card {
    width: 300px;
  }
  .goal .card:nth-child(1) {
    width: 300px;
    margin-bottom: 38px;
  }
  .goal .card h2 {
    margin-left: 10px;
  }
  .goal .card p {
    margin-left: 10px;
    font-size: var(--r-text-small);
  }
  .goal .line {
    height: 125px;
  }
  .goal .dot {
    width: 12px;
    height: 12px;
  }
  /* menu */
  .menu {
    width: 80%;
    transform: translateX(600px);
  }
  .menu__list li a {
    font-size: var(--r-text-large);
  }
}
