@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

/*d1d6e6*/
:root {
  --main-black: #353535;
  --main-deep-white: #fbfbfb;
  --main-width: 80%;
  --color-blue-gray: #d1d6e6;
  --color-basic-gray: #e2e2e2;
  --color-light-gray: #a7a7a7;
  --color-mid-gray: #9d9d9d;
  --color-deep-gray: #6d6d6d;
  --color-pure-white: #ffffff;
  --text-title-size: 1.6rem;
  --text-mid-size: 1.1rem;
  --text-small-size: 0.9rem;
  --text-thin-weight: 400;
  --text-mid-weight: 500;
  --text-bold-weight: 700;
  --text-line-height-small: 1.2;
  --text-line-height-mid: 1.3;
  --shadow-style-card-1: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
  --shadow-style-card-2: 0px 6px 10px rgba(115, 120, 225, 0.05);
}

/* layout */
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: var(--text-thin-weight);
}
section {
  min-height: 100vh;
  width: 100%;
}
section.black {
  background-color: var(--main-black);
}
section.black h1 {
  color: var(--main-deep-white);
}
section.white {
  background-color: var(--main-deep-white);
}
section.white h1 {
  color: var(--main-black);
}
.content__container {
  width: var(--main-width);
  margin: 0 auto;
}

/* common style */
h1 {
  font-size: var(--text-title-size);
  font-weight: var(--text-mid-weight);
  text-align: center;
  padding-top: 60px;
}
p {
  line-height: var(--text-line-height-small);
}
p.mid {
  font-size: var(--text-mid-size);
  font-weight: var(--text-mid-weight);
}
p.small {
  font-size: var(--text-small-size);
}

/* section.profile */
.profile {
  text-align: center;
}
.profile .content__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profile h1 {
  line-height: var(--text-line-height-mid);
}
.profile p.mid {
  color: var(--color-mid-gray);
}
.profile p.small {
  color: var(--color-mid-gray);
}
.image__wrapper {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  overflow: hidden;
}
.image__wrapper img {
  width: 170%;
  transform: translate(-20%, -5%);
}

/* section.history */
.history__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.history .lines {
  margin-left: 40px;
  margin-top: 6px;
}
.history .dot {
  width: 14px;
  height: 14px;
  background: var(--color-basic-gray);
  border-radius: 7px;
}

.history .line {
  height: 100px;
  width: 2.2px;
  background: var(--color-basic-gray);
  margin-left: 5.3px;
}
.line.plus {
  height: 120px;
}
.line.last {
  height: 35px;
}
.history .cards {
  margin-left: 12px;
  transform: translateY(-50px);
}
.history .card {
  width: 450px;
  height: 93px;
  padding-top: 25px;
  background: var(--color-pure-white);
  border-radius: 10px;
  box-shadow: var(--shadow-style-card-2);
  margin-bottom: 10px;
}
.history .card.mid {
  height: 71px;
}

.history .card h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-left: 25px;
  margin-bottom: 5px;
  color: var(--main-black);
  /* 기존 텍스트 2b2862 */
}

.history .card p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-small-size);
  line-height: 22px;
  color: var(--color-deep-gray);
  margin-left: 25px;
}

/* section.skills */
/* section.projects */
/* section.goal */
/* section.values */
/* aside.menu */

/* history */
